@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
*{
    box-sizing: border-box;
    border: 0ppx;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Noto Sans Japanese' sans-serif;
}
body{
/*    background-color: #57d4f8;*/
    background-image: url(../images/back.jpg);
    background-repeat: repeat;
}
.wrapper{
    width: 950px;
    margin: 0 auto;
}


/*header*/
header{
    width: 200px;
    height: 100%;
    position: fixed;
    background-color: white;
    text-align: center;
    color: #09a318;
}
.logo{
    width: 200px;
    height: 200px;
/*    background-color: red;*/
    overflow: hidden;
}
.logo > img{
    width: 200px;
    height: 200px;
}
nav{
    width: 200px;
    height: 30%;
/*    background-color: blue;*/
    margin-bottom: 30px;
}
nav > ul{
    width: 200px;
    height: 100%;
}
nav > ul > li{
    height: 20%;
    display: block;
    list-style: none;
}
nav > ul > li > a{
    text-align: center;
    color: #09a318;
    transition: 0.3s;
    padding: 1px 15px; 
}
nav > ul > li > a:hover{
    color: white;
    background-color: #09a318;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.share{
    width: 200px;
    height: 40%;
}
.share > ul{
    display: block;
    width: 140px;
    height: 10%;
    margin: 0 auto;
}
.share > ul > li{
    list-style: none;
    float: left;
    color: #09a318
}
.share a{
    display: block;
    width: 30px;
}
.share a > img{
    width: 20px;
    height: 20px;
}

/*main*/
.main{
    width: 750px;
    margin-left: 200px;
    background-color: white;
}
#top{
    height: 500px;
    width: 750px;
    position: relative;
}
.HERO{
    width: 750px;
    height: 500px;
    background-image: url(../images/hero1.jpg);
    background-position: center center;
    background-size: cover;
    display: none;
}
.HE1{background-image: url(../images/hero1.jpg);}
.HE2{background-image: url(../images/hero2.jpg);}
.HE3{background-image: url(../images/hero3.jpg);}
.HE4{background-image: url(../images/hero4.jpg);}
.hero{
    width: 120px;
    height: 80px;
    background-position: center center;
    background-size: cover;
    border: white 5px solid;
    position: absolute;
    bottom: 20px;
}
.mask{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
}
.mask:hover{
    cursor: pointer;
    opacity: 0.4;
}
.he1{
    background-image: url(../images/hero1.jpg);
    right: 470px;
}
.he2{
    background-image: url(../images/hero2.jpg);
    right: 320px;
}
.he3{
    background-image: url(../images/hero3.jpg);
    right: 170px;
}
.he4{
    background-image: url(../images/hero4.jpg);
    right: 20px;
}
    
.middle{
    width: 750px;
}
.main_message{
    width: 500px;
    height: 100px;
    float: left;
    background-color: #09a318;
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding: 15px 50px;
}
.message{
    width: 250px;
    height: 100px;
    float: left;
    background-color: white;
    padding: 25px 30px;
    text-align: right;
}
.big{
    font-size: 30px;
}
.contents{
    width: 750px;
    overflow: hidden;
}
.content{
    width: 250px;
    height: 250px;
    float: left;
}
.co1{
    background-color: #ebf2aa;
}
.co2{
    background-color: #96e0e0;
}
.co3{
    background-color: #c5d817;
}

.member-box{
    width: 750px;
    height: 300px;
}
.members{
    width: 500px;
    height:300;
    z-index: 5;
    position: relative;
    float: left;
}
.fukidashi{
    position: absolute;
    z-index: 10;   
}
.fukidashi:hover{
    cursor: pointer;
    animation: shake 1s linear infinite;
}
@keyframes shake {
    50% { transform: translate(0px, -5px) scale(1.4);}
    100% { transform: translate(0px, 0px) scale(1.0); }
}
.fu1{
    top: 150px;
    left: 305px;
}
.fu2
{
    top: 60px;
    left: 310px;
}
.fu3{
    top: 67px;
    left: 424px;
}
.member{
    width: 250px;
    height: 300px;
    background-color: #ea158f;
    float: left;
    padding: 10px;
    display: none;
}
.member > img{
    width: 100px;
    height: 100px;
    float: left;
    margin-bottom: 20px;
}
.member > .name{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}


.bottom{
    width: 750px;
    height: 400px;
}
.detail{
    width: 375px;
    height: 400px;
    background-color: #09a318;
    float: left;
    padding: 30px 20px;
}
.form{
    width: 375px;
    height: 400px;
    background-color: white;
    float: left;
}


/*footer*/
footer{
    width: 750px;
    height: 50px;
    background-color: #ea158f;
    padding: 5px 100px;
}